@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html {
    font-size: 14px; /* <-- TAMBAHKAN INI */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
